/dist/
/cage/
/subprojects/**
!/subprojects/*.wrap
!/subprojects/packagecache
!/subprojects/packagecache/.placeholder
!/subprojects/packagefiles/
!/subprojects/packagefiles/*/
!/subprojects/packagefiles/**/*.patch
